/* imp */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

body {
  font-family: "Cairo", sans-serif;
  background-color: #222831;
}

/*header*/

header {
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #eeeeee;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 30px;
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.nav a {
  text-decoration: none;
  margin-left: 20px;
  color: #eeeeee;
}

.nav a:hover {
  color: #00adb5;
}

/* Cummunication card */

.cards {
  margin-bottom: 50px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background-color: #eeeeee;
  border: 5px solid #eeeeee;
  min-height: 14em;
  width: 15em;
  overflow: hidden;
  border-radius: 20px;
  margin: 20px;
  transition: 0.6s ease;
  text-align: center;
  padding: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
}

.card:hover {
  transform: scale(1.1);
}

.photo img {
  width: 100%;
  height: 100%;
}

.photo img:hover {
  opacity: 0.9;
}

.icon {
  font-size: 100px;
}

.card p,
h3 {
  color: #20262e;
}

@media (max-width: 1023px) {
  .nav {
    padding: 12px 20px;
  }
  .nav a {
    padding-left: 10px;
  }
  section {
    padding: 80px 20px;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
}

.title {
  display: flex;
  justify-content: center;
  color: #e9e8e8;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
  text-decoration: none;
}

.content a {
  color: #eeeeee;
  text-decoration: none;
}

.icon {
  color: #00adb5;
}

/*footer*/

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  background-color: #eeeeee;
}

@media (max-width: 400px) {
  footer {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.left-t {
  display: flex;
  flex-direction: column;
}

.left-t a {
  text-decoration: none;
  color: black;
}

.left-t a:hover {
  color: #00adb5;
}

.left-t .icons {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  color: #00adb5;
}
