/* imp */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");

body {
  font-family: "Cairo", sans-serif;
  background-color: #222831;
}

/*header*/

header {
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #eeeeee;
}

.logo {
  width: 40px;
  height: 40px;
  margin-left: 30px;
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.nav a {
  text-decoration: none;
  margin-left: 20px;
  color: #eeeeee;
}

.nav a:hover {
  color: #00adb5;
}

/* Cummunication card */

.C-card {
  display: flex;
  margin: 80px;
  flex-wrap: wrap;
  text-align: right;
}

.C-card a {
  width: 1600px;
  height: 60px;
  background-color: #00adb5; /* need chnage */
  margin-top: 50px;
  position: relative;
  transition: 0.6s;
  border-radius: 20px;
}

.C-card a:hover {
  transform: scale(1.06);
}

.a-1:after {
  content: "ديسكورد";
  color: black;
  position: absolute;
  right: 45px;
  bottom: 15px;
  font-size: larger;
}

.a-2:after {
  content: "فيسبوك";
  color: black;
  position: absolute;
  right: 45px;
  bottom: 15px;
  font-size: larger;
}

.a-3:after {
  content: "انستجرام";
  color: black;
  position: absolute;
  right: 45px;
  bottom: 15px;
  font-size: larger;
}

.icon-1 {
  position: absolute;
  bottom: 405px;
  font-size: 35px;
  left: 105px;
}

.icon-2 {
  position: absolute;
  bottom: 295px;
  font-size: 35px;
  left: 105px;
}

.icon-3 {
  position: absolute;
  bottom: 185px;
  font-size: 35px;
  left: 105px;
}

/*footer*/

footer {
  /* footer things*/
}
